.container {
    display: flex;
    align-items: center;
}

.container__filho-logo {
    height: 100vh;
    padding: 0 8rem;
    background-image: url('/assents/funfo\ Login.png');
    color: var(--font-color-ligth);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}

.container__filho-logo h1 {
    font-family: var(--font);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    padding: 5rem 0;
}

.container__filho-logo a {
    padding: 0.8rem;
    color: var(--font-color-ligth);
    text-decoration: none;
}

.container__filho-logo ul {
    display: flex;
}

.container__filho-login {
    color: var(--font-color-ligth);
    height: 100vh;
    width: 100vh;
    background: linear-gradient(270deg, rgba(2, 0, 36, 1) 26%, rgba(12, 23, 142, 1) 56%, rgba(17, 95, 133, 1) 85%);
    padding: 0 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.container__filho-login h2 {
    font-family: var(--font);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.container__filho-login p {
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 400;
    padding: .8rem 0;
}

.container__filho-login form {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.container__filho-login input {
    background-color: transparent;
    border: none;
    border-radius: 24px;
    color: var(--font-color-ligth);
    margin: 0.5rem 0;
    padding: 0.2rem;
    text-align: start;
    text-indent: 15px;
    font-family: var(--font);
}

.container__filho-login form a {
    padding: 0.8rem;
    color: var(--font-color-ligth);
}

.container__filho-login button {
    background-color: #fff;
    border: none;
    border-radius: 24px;
    width: 30%;
    margin: 0.5rem 0;
    padding: 0.2rem 0;
    text-align: center;
    position: relative;
    left: 68%;
}

.container__filho-login a {
    text-decoration: none;
    color: var(--font-color-ligth);
}

.container__filho-login input:focus {
    outline: none;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.7);
}

.container__filho-login input::placeholder {
    background: rgba(12, 23, 142, 1) 56%;
    border: none;
    border-radius: 24px;
    margin: 0.5rem 0;
    padding: 0.2rem;
}