.box__sobreProduto {
    background-color: var(--second-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    padding: 0 5rem;
}

.produto__imagem-descricao {
    padding: 1rem;
    text-align: center;
}

.produto__imagem-descricao img {
    width: 40vh;
}

.produto__compre {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.produto__compre h2 {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 600;
}

.produto__compre p {
    font-size: 1rem;
    font-weight: 400;
}

.carrosel__outrosProdutos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--third-color);
}

.carrosel__outrosProdutos h1 {
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--font);
}

.carousel-inner {
    display: flex !important;
    flex-direction: row IM !important;
    gap: 1.5rem !important;
}
