#produto__principal {
    display: flex;
    justify-content: center;
    background-color: #e6d6d6;
    padding: 2em 0;
}

.container__detalhe {
    display: flex;
    justify-content: center;
    padding: 10rem;
}

.produto__detalhe {
    padding: 5rem 7rem;
    display: flex;
    align-items: center;
    background-color: #e4dada;
    border: 1px solid rgb(192, 189, 189);
    border-radius: 18px;
    gap: 5rem;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.7);
}

.produto__detalhe img {
    width: 50%;
}

.detalhe {
    display: flex;
    flex-direction: column;
    font-family: var(--font);
}

.detalhe h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
}

.detalhe p {
    font-size: 1rem;
    font-weight: 500;
}

.detalhe h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
}

.detalhe button {
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fff;
    border: none;
    border-radius: 24px;
    width: 30%;
    margin: 0.5rem 0;
    padding: 0.2rem 0;
    position: relative;
    right: 20%;
    text-align: center;
}